@model SmartLifeClass

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SmartLifeClass</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Occupation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Occupation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Money)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Money)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mood)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mood)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Personality)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Personality)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Familybond)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Familybond)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastUpdated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastUpdated)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
