@model IEnumerable<SmartLifeClass>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
    Sort by Score:
    <a asp-action="Index" asp-route-sortOrder="score_asc">Low → High</a>
    <a asp-action="Index" asp-route-sortOrder="score_desc">High → Low</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>Score</th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Occupation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Monthly_salary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mood)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Personality)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Familybond)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastUpdated)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
                <td>@Utils.CalculateScore(item)</td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
                
            <td>
                @Html.DisplayFor(modelItem => item.Occupation)
            </td>
                
            <td>
                    @Html.DisplayFor(modelItem => item.Monthly_salary)
            </td>
                
            <td>
                @Html.DisplayFor(modelItem => item.Mood)
            </td>
                
            <td>
                @Html.DisplayFor(modelItem => item.Personality)
            </td>
                
            <td>
                @Html.DisplayFor(modelItem => item.Familybond)
            </td>
                
            <td>
                @Html.DisplayFor(modelItem => item.LastUpdated)
            </td>
                
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
